<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :badge_title %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.text_field :image, id: :badge_image %>
  </p>

  <p>
    <%= form.label :rule %><br>
    <%= form.collection_select :rule, Admin::BadgesController::RULES ,:to_s , :to_s, prompt: true %>
  </p>

  <p class='badge-level hide'>
    <%= form.label :level %><br>
    <%= form.number_field :level, id: :badge_level %>
  </p>

  <p class='badge-category hide'>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>

  <p class='badge-test hide'>
    <%= form.label :test_id %><br>
    <%= form.collection_select :test_id, Test.all, :id, :title, prompt: true %>
  </p>

  <p class='badge-test hide'>
    <%= form.label :first_try %><br>
    <%= form.check_box :first_try, id: :badge_first_try %>
  </p>

  <p><%= form.submit %></p>

<% end %>
