<h1>Passing the <%= @result.test.title %> Test</h1>

<b>
  <%= @result.current_question.text %>
</b>

<%= form_with url: result_path(@result), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :text, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids+#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p>Number of current question: <%= @result.number_of_current_question %></p>
  <p>Total count of questions: <%=  @result.count_all_questions %></p>

  <label for="test-progress">Progress:</label>
  <progress id="test-progress" class= "progress-bar" value=0 data-progress-status= <%= @result.number_of_current_question %> data-progress-max= <%= @result.count_all_questions %>>%</progress>

  <p><%= link_to 'Gist Question', gists_path(@result), method: :post %></p>
  <p ><%= form.submit 'Next'%></p>
<% end %>
