<h1>answer</h1>
<table>
  <tr>
    <th>Text</th>
    <th>Correct</th>
  </tr>

  <tr>
    <td><%= @answer.text %></td>
    <td><%= @answer.correct %></td>
  </tr>
</table> 
<%= link_to 'Edit', edit_admin_answer_path(@answer) %>
<%= link_to "Destroy",
                admin_answer_path(@answer), 
                method: :delete, 
                data: { confirm: 'Are sure?' }%>   
<%= link_to 'Back', admin_question_path(@answer.question) %>
