<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user">
        Welcome, <b><%= current_user.email %></b> Guru |
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </p>
      <% if current_user.is_a?(Admin) %>
        <p class="nav user">
          <b><%= current_user.first_name %></b>
          <b><%= current_user.last_name %></b>
        </p>      
      <% end %>
    <% end %>
    <p class="nav user"><%= link_to "test-guru", root_path %></p>
    <%= flash_message(:notice) if flash[:notice].present? %>
    <%= flash_message(:alert) if flash[:alert].present? %>

    <%= yield %>
  </body>

  <footer> 
    <%= render "shared/footer" %>
  </footer>
</html>
