<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer> 
    <hr>
    <p><%= this_year %></p>
    <p>Будкина Надежда, github:</p> 
    <p><a href=<%= github_url("pigchevalier", "test-guru") %>  rel="nofollow noopener">Репозиторий проекта</a></p>
    <p><a href="https://www.thinknetica.com" rel="nofollow noopener">Учебный проект в онлайн школе Thinknetica</a></p>
    <p>Приложение для создания и выполнения разных тестов. Есть две группы: пользователи (могут выполнять тесты), администраторы (создают тесты)</p>
    <p>Возможности TestGuru: Создание и управление тестами, аутентификация, базовое разграничение прав, выполнение тестов, публикация результатов в соцсети</p>
  </footer>
</html>
